target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-userId

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/


/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml
/nb-configuration.xml

.vscode/


*.log
.DS_Store
Thumbs.db


.env
*.env
!.env.example

